# Virtual Environment
.venv/
env/
venv/
ENV/

# Documentation
docs/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing & Coverage
.pytest_cache/
.benchmarks/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover

# Environments & Local Secrets
.env
.env.local

# Database & Storage Volumes
postgres_data/
minio_data/
*.sqlite3
*.db

# Logs & Temporary Files
*.log
scratch/
.tmp/

# OS-Specific Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo
